extends ../layout/index

block contenido
    div.py-10(style="background: url('https://i.pinimg.com/originals/90/70/32/9070324cdfc07c68d60eed0c39e77573.gif') no-repeat center center / cover; min-height: 100vh; display: flex; justify-content: center; align-items: center;")  
        div.w-full.max-w-md.bg-white.bg-opacity-90.py-10.px-8.shadow-lg.rounded-lg  
            h1.text-4xl.mb-6.font-extrabold.text-center.text-indigo Bienes 
                span.font-normal.text-indigo-600 Raíces  
            h2.text-center.text-2xl.font-extrabold= pagina
        if errores 
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p.bg-red.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        .mt-8.mx-auto.max-w-md 
            .bg-white.bg-opacity-90.py-8.px-4.shadow-lg.rounded-lg  
                form.space-y-5(method="POST" action="/auth/registro" novalidate)
                    input(type="hidden" name="_csrf" value= csrfToken) 
                    
                    // Campo nombre
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="nombre") Tu Nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe tu nombre" type="text" name="nombre" value= usuario ? usuario.nombre : '')

                    // Campo email
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="email") Email de Registro
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe tu email" type="email" name="email" value= usuario ? usuario.email : '' ) 

                    // Campo contraseña
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="password") Contraseña
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe tu contraseña" type="password" name="password" )        

                    // Campo repetir contraseña
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="repetir_password") Repetir Contraseña
                        input#repetir_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Repite tu contraseña" type="password" name="repetir_password")         

                    // Enlaces de ayuda
                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs.mr-2(href="/auth/login" class="hover:underline decoration2 hover:decoration-navy") ¿Ya tienes cuenta? Inicia Sesión
                        a.text-gray-500.text-xs.ml-2(href="/auth/olvide-password" class="hover:underline decoration2 hover:decoration-navy") Olvidé mi Password


                    // Botón de registro con fondo GIF
                    input(
                        type="submit" 
                        value="Crear Cuenta"
                        class="w-full text-white font-bold py-3 rounded-lg cursor-pointer bg-cover bg-center transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none"
                        style="background: url('https://i.pinimg.com/originals/39/fb/da/39fbda8ae27c15d8ebc9ad6ff034d633.gif') no-repeat center center / cover;"
                    )
