extends ../layout/admin 

block contenido
    h2(class="text-3xl font-extrabold text-center text-indigo-700 my-10")= pagina

    a(
        href="/mis-propiedades"
        class="rounded py-2 px-10 bg-indigo-600 hover:bg-indigo-700 text-sm font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto transition duration-300"
    )
        i(class="fas fa-arrow-left mr-2") 
        Volver

    div(class="mx-auto max-w-4xl bg-gray-50 shadow-lg rounded-lg p-6")

        if mensajes.length 
            ul(class="space-y-4")
                each mensaje in mensajes 
                    li(class="border-b border-gray-300 pb-4 last:border-b-0")
                        p(class="font-bold text-indigo-600") Nombre: 
                            span(class="font-normal text-gray-700")= mensaje.usuario.nombre

                        p(class="font-bold text-indigo-600") Email: 
                            span(class="font-normal text-gray-700")= mensaje.usuario.email    

                        p(class="font-bold text-indigo-600") Mensaje: 
                            span(class="font-normal text-gray-700")= mensaje.mensaje

                        p(class="font-bold text-indigo-600") Enviado: 
                            span(class="font-normal text-gray-700")= formatearFecha( mensaje.createdAt )       
        else 
            div(class="text-center py-10 bg-gray-100 rounded-lg shadow-md")
                p(class="text-lg text-gray-600") No hay Mensajes
